body {
    background-color: black;
    color: white;
}

.content-container {
    text-align: center;
    width: 50%;
    margin-left: 25%;

}

.content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    border: solid white;
    border-width: 5px;
}
.content-title {
    font-family: Libre Baskerville;
}
